ul[data-v-83d3c722]{list-style-type:none;max-height:2vh;margin:auto}ul li[data-v-83d3c722]{float:left;padding-left:2em;padding-right:2em}ul a[data-v-83d3c722]{text-decoration:none;color:#000}
header[data-v-229ef8dc]{position:absolute;width:70%;font-family:Averia,serif;left:15%;height:12vh}header h1[data-v-229ef8dc]{text-align:center}
footer[data-v-7e423eff]{position:absolute;height:3em;bottom:0;left:10%;width:80%;text-align:center}a[data-v-7e423eff]{color:#000;font-family:monospace}
#fork-me[data-v-dae56eda]{position:absolute;top:0;left:0;max-height:149px;max-width:149px}
.content-wrapper[data-v-699fe092]{padding:0 3vw;top:13vh;position:absolute;width:60%;left:20%;min-height:75vh}
