$small: "(max-width: 767px)";
$medium: "(min-width: 768px) and (max-width: 960px)";
$large: "(min-width: 1200px)";


$minWidth: 320px;
$maxWidth: 1200px;

$minFontSize: 16px;
$maxFontSize: 22px;
$minHeaderSize: 25px;
$maxHeaderSize: 40px;

$minLineHeight: 1.2;
$maxLineHeight: 1.5;
